.booking {
    @apply py-36;
    background-image: linear-gradient(
        to right bottom,
        theme('colors.indigo.400'),
        theme('colors.indigo.800')
    );

    &__container {
        @apply w-3/4 mx-auto;
        background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
        ),
        url(../assets/car3.webp);
        background-size: cover;
        background-position: center; /* Ensure image is centered */
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

        @media (max-width: 900px) {
            background-image: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.9) 100%
            ),
            url(../assets/car3.webp);
        }
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @media (max-width: 900px) {
            width: 100%;
        }
    }
}

.form {
    &__group {
        &:not(:last-child) {
            @apply mb-8;
        }
    }

    &__input {
        @apply text-base text-gray-700 p-4 pl-6 bg-white bg-opacity-50 rounded border-none w-3/4 block border-b-4 border-transparent transition-all;

        @media (max-width: 900px) {
            @apply w-full;
        }

        &:focus {
            outline: none;
            @apply shadow-lg border-indigo-500;
        }

        &:focus:invalid {
            @apply border-red-500;
        }

        &::placeholder {
            @apply text-gray-400;
        }
    }

    &__label {
        @apply text-xs font-bold ml-6 mt-2 block transition-all;
    }

    &__input:placeholder-shown + &__label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-4rem);
    }

    &__radio-group {
        display: inline-block;
        width: 49%;

        @media (max-width: 900px) {
            @apply w-full mb-8;
            display: block;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        @apply text-base cursor-pointer pl-12 relative;
    }

    &__radio-button {
        height: 2rem;
        width: 2rem;
        @apply border-4 border-indigo-500 rounded-full inline-block absolute top-0 left-0;

        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 1rem;
            @apply rounded-full bg-indigo-500 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
