@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import "header.scss";
@import "button.scss";
@import "about.scss";
@import "typography.scss";
@import "features.scss";
@import "icon.scss";
@import "animation.scss";
@import "pricing.scss";
@import "reviews.scss";
@import "booking.scss";
@import "footer.scss";
@import "navigation.scss";
@import "popup.scss";

html {
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.7;
}

main {
    position: relative;
    z-index: 9;
}

*::selection {
    @apply bg-gray-200;
}
