.pricing {
    @apply bg-gray-300 -mt-28 py-36;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    z-index: 6;

    h2 {
        @apply mb-12;
    }

    &__container {
        @apply flex w-5/6 justify-evenly mx-auto;
    }
}

.card {
    /* Functionality */
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; /* Adjusted height */
    width: 30%; /* Set width to fit 3 in a row */

    &__side {
        @apply rounded-xl overflow-hidden shadow-xl;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.8s ease;
        backface-visibility: hidden;

        &--front {
            @apply bg-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(
                    to right bottom,
                    theme('colors.blue.400'),
                    theme('colors.blue.800')
                );
            }
            &-2 {
                background-image: linear-gradient(
                    to right bottom,
                    theme('colors.yellow.400'),
                    theme('colors.yellow.800')
                );
            }
            &-3 {
                background-image: linear-gradient(
                    to right bottom,
                    theme('colors.red.400'),
                    theme('colors.red.800')
                );
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }

    /* Front side styling */
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        
        &--1 {
            background-image: url(../assets/car1.webp),
                linear-gradient(
                    to right bottom,
                    theme('colors.blue.400'),
                    theme('colors.blue.800')
                );
        }
        &--2 {
            background-image: url(../assets/car2.webp),
                linear-gradient(
                    to right bottom,
                    theme('colors.yellow.400'),
                    theme('colors.yellow.800')
                );
        }
        &--3 {
            background-image: url(../assets/car3.webp),
                linear-gradient(
                    to right bottom,
                    theme('colors.red.400'),
                    theme('colors.red.800')
                );
        }
    }

    &__heading {
        @apply text-2xl font-light text-white text-right absolute uppercase;
        top: 12rem;
        right: 2rem;
        width: 75%;
        font-size: 2.2rem;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgba(theme('colors.blue.400'), 0.85),
                rgba(theme('colors.blue.800'), 0.85)
            );
        }
        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgba(theme('colors.yellow.400'), 0.85),
                rgba(theme('colors.yellow.800'), 0.85)
            );
        }
        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgba(theme('colors.red.400'), 0.85),
                rgba(theme('colors.red.800'), 0.85)
            );
        }
    }

    &__details {
        padding: 3rem;

        ul {
            @apply list-none w-4/5 mx-auto;

            li {
                @apply text-center text-gray-600 p-4 border-b border-gray-200;
                font-size: 1.5rem;

                &:last-child {
                    @apply border-none;
                }
            }
        }
    }

    /* Back side styling */
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        @apply text-white mb-32;
    }

    &__price-only {
        @apply text-xl uppercase;
    }

    &__price-value {
        @apply text-5xl font-thin;
    }
}

/* Media Query for Responsive Design */
@media (max-width: 900px) {
    .pricing {
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

        &__container {
            @apply flex-col items-center;
        }
    }

    .card {
        height: auto;
        @apply rounded-xl bg-white shadow-xl w-full mb-12;
        max-width: 40rem;

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        /* backside styling */
        &__cta {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            @apply mb-12;
        }

        &__price-value {
            @apply text-6xl;
        }
    }
}
